/* Global */
:root {
    --main-bg-color : #ddf3e8;
    --main-color : #43B97F;
}
* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    font-size: 1.6rem; /* 16px */
}
a {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}
main > * {
    max-width: 90%;
    margin: auto;
}
.main-background-color {
    background-color: var(--main-bg-color);
}
/* Index */
header {
    padding: 4rem 0;
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

/* Buttons */
.article-link, button {
    padding: 1rem 1.6rem;
    color: white;
    background-color: var(--main-color);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    text-decoration: none;
}
.close-btn {
    border-radius: 4px;
    padding: 6px 12px;
}


/* Articles */
.container-articles {
    padding: 6rem 0;
}
.container-articles-title {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding: 2.4rem 0;
}
.container-articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px;
}
.card {
    display: flex;
    flex-basis: calc(32% - (32px/2));
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    padding: 2.4rem;
    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Ajout article */
#form-container {
    max-width: 60%;
    margin: auto;
    padding: 4rem 0;
}
#form-container h2 {
    padding: 2rem 0;
}
#form-container h2, #form-container button, #form-container a {
    text-align: center;
    width: 100%;
}
form {
    background-color: white;
    border-radius: 16px;
    padding: 3.2rem;
}
form > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
    gap: 4px;
}

/* Banner */
.banner {
    padding: 12px;
    width: 100%;
}
.banner-success {
    position: absolute;
    background-color: green; 
    color: white;
}

/* RESPONSIVE BREAKPOINTS */ 
/* Tablettes et moyennes écrans */
@media screen and (max-width: 1200px){
    .card {
        flex-grow: 1;
    }
}
