/* Global */
:root {
    --main-bg-color : #ddf3e8;
    --main-color : #43B97F;
    --main-color-hover : #e8f7f0;
    --text-secondary : #6a6a6a;
    --danger : rgb(195, 1, 1);
}
* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    font-size: 1.6rem; /* 16px */
}
a {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}
/* main > * {
    max-width: 90%;
    margin: auto;
} */
.main-background-color {
    background-color: var(--main-bg-color);
}
/* Index */
header {
    padding: 4rem 0;
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}
h1 a {
    text-decoration: none;
}

/* Buttons & signals */
.article-link, .main-button, .danger-button {
    padding: 1rem 1.6rem;
    color: white;
    background-color: var(--main-color);
    border-radius: 30px;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;
}
.danger-button {
    background-color: var(--danger);
}
.success-text {
    color : green;
    margin: 0.8rem 0;
}
.danger-text {
    color : var(--danger);
    margin: 0.8rem 0;
}
.close-btn {
    border-radius: 4px;
    padding: 6px 12px;
}

/* Articles */
.container-articles {
    padding: 6rem 0;
    max-width: 90%;
    margin: auto;
}
.container-articles-title {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding: 2.4rem 0;
}
.container-articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}
.container-articles-list a {
    text-decoration: none;
}
.card {
    display: flex;
    flex-basis: calc(33% - (32px/2));
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2.4rem;
    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.card-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-actions div a {
    padding: 0.8rem;
    color : var(--text-secondary);
    text-decoration: underline;
}
.card-details {
    color : var(--text-secondary);
    font-size: 1.4rem;    
}
.action-danger,  .card-actions div .action-danger{
    color: rgb(195, 1, 1);
}
.categorie-tag {
    background-color: #E3F2FD;
    border-radius: 8px;
    color: #1285c8;
    padding: 4px 8px;
    font-size: 1.4rem;
}

/* Ajout article */
#form-container {
    max-width: 60%;
    margin: auto;
    padding: 4rem 0;
}
#form-container h2 {
    padding: 2rem 0;
}
#form-container h2, #form-container button, #form-container a {
    text-align: center;
    width: 100%;
}
#form-container form {
    background-color: white;
    border-radius: 16px;
    padding: 3.2rem;
}
#form-container form > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
    gap: 4px;
}

/* Banner */
.banner {
    padding: 12px;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 3;
}
.banner-success {
    background-color: green; 
}
.banner-error {
    background-color: var(--danger); 
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}
.delete-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.delete-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 0;
}
.delete-modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 2.4rem 0;
}

/* article */
.section-article {
    max-width: 70%;
    margin: 4rem auto;
    border-radius: 16px;
    padding: 5rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.article-actions{
    max-width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.article-actions a {
    padding: 2.4rem 0.8rem;
}
.article-details {
    padding: 2.4rem 0;
    color : var(--text-secondary);
    font-size: 1.4rem;
}

/* comment */
.comment-textarea {
    width: 100%;
    margin: 2.4rem 0;
}
.comment {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 1.6rem 0;
}
.comment-details {
    padding: 0.8rem 0 0 0;
    color : var(--text-secondary);
    font-size: 1.4rem;
}
.comment-details > * {
    margin: 0 0.4rem;
}
.view-comment {
    margin-top : 4rem;
}

/* profile */
.user-profile {
    max-width: 32px;
}
.user-profile:hover {
    cursor: pointer;
}
.user-profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropdown-content {
    min-width: 220px;
    display: none;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 0.8rem;
    z-index: 1;
    right: 0;
    padding: 8px;
}
.dropdown-content a {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
}
.dropdown-content a .icon {
    color: var(--text-secondary);
}
.dropdown-content a:hover {
    background-color: var(--main-color-hover);
}
.show-dropdown {
    display:block;
}
.horizontal-divider {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: 2px 0;
}

/* RESPONSIVE BREAKPOINTS */ 
/* Tablettes et moyennes écrans */
@media screen and (max-width: 1200px){
    .card {
        flex-grow: 1;
    }
}
